body{
    margin: 0;
    padding: 0;
    background: url(abstract-antique-backdrop-164005.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.icon{
    border-radius: 50%;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    
    
}
.loginbox{
    width: 320px;
    height: 320px;
    top: 50%;
    left: 50%;
    background-color: black;
    position: absolute;
    transform: translate(-50%,-50%); // لتوسيط العنصر في وسط الصفحة 
    box-sizing: border-box;
    color: azure;
   padding: 70px 30px;
    border-radius: 40px;
    opacity: .8;
}
h1{
    margin: 0;
    padding: 0 30px;
    font-size: 22px;
    text-align: center;
    
}
.loginbox p{
    margin: 0;
    font-weight: bold;
    padding: 0;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    font-size: 18px;
    border-radius: 20px;
    color: #fff;

}
.loginbox input[type="submit"]:hover{
    background-color: #929;
    color: coral;
    background: #654;
}
.loginbox a {
    color: chocolate;
    line-height: 30px;
    text-decoration: none;
    font-family: sans-serif;
    
}
.loginbox a:hover{
    
    color: coral;
    
}